<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="/javascript/editprofile.js"></script>
<title>Profile Page</title>
<link rel="stylesheet" href="/stylesheets/styleProfile.css">
</head>
<body>
<div class="container">
  <div class="header">
    <div class="profile-picture">
      <img id="profileImg" src="#" alt="No Image" style="width: 100%; height: 100%;">
      <label for="fileInput" class="profile-upload">Change</label>
      <input id="fileInput" type="file" onchange="loadFile(event)">
    </div>
    <div class="details">
      <div><input type="text" class="info-input" value="NIM : <%= user.mahasiswa.nim %>" readonly></div>
      <div><input type="text" class="info-input" value="Nama : <%= user.mahasiswa.nama %>" readonly></div>
    </div>
  </div>
  <div class="details">
    <div><input type="text" class="info-input" value="Fakultas : <%= user.mahasiswa.fakultas %>" readonly></div>
    <div><input type="text" class="info-input" value="Prodi : <%= user.mahasiswa.prodi %>" readonly></div>
    <div><input type="text" class="info-input" value="Email : <%= user.mahasiswa.email %>" readonly></div>
    <div><input type="text" class="info-input" value="Alamat : <%= user.mahasiswa.alamat %>" readonly></div>
    <div><input type="text" class="info-input" value="TTL : <%= user.mahasiswa.tempatlahir %>, <%= user.mahasiswa.tanggallahir %>" readonly></div>
    <div><input type="text" class="info-input" value="Agama : <%= user.mahasiswa.agama %>" readonly></div>
    <div><input type="text" class="info-input" value="Jenis Kelamin : <%= user.mahasiswa.jeniskelamin %>" readonly></div>
  </div>
  <button class="edit-button" onclick="openModal()">Edit Profile</button>
  </form>
  <form action="/auth/logout" method="post">
    <br>
    <button type="submit" style="width: 100%;">Logout</button>
  </form>
</div>

<div id="editModal" class="modal">
  <div class="modal-content">
    <span class="close" onclick="closeModal()">&times;</span>
    <form id="editForm">
      <div><label>NIM:</label><input type="text" class="info-input" placeholder="<%= user.mahasiswa.nim %>"readonly></div>
      <div><label>Nama:</label><input type="text" class="info-input" placeholder="<%= user.mahasiswa.nama %>" readonly></div>
      <div><label>Fakultas:</label><input type="text" class="info-input" placeholder="<%= user.mahasiswa.fakultas %>" readonly>
      </div>
      <div><label>Prodi:</label><input type="text" class="info-input" placeholder="<%= user.mahasiswa.prodi %>" readonly></div>
      <div><label>Email:</label><input type="text" class="info-input" placeholder="<%= user.mahasiswa.email %>" readonly></div>
      <div><label>Alamat:</label><input type="text" class="info-input" value="<%= user.mahasiswa.alamat %>"></div>
      <div><label>Tempat Lahir:</label><input type="text" class="info-input" value="<%= user.mahasiswa.tempatlahir %>"></div>
      <div><label>Tanggal Lahir:</label><input type="date" class="info-input" value="<%= user.mahasiswa.tanggallahir %>">
      </div>
      <div><label>Agama:</label><input type="text" class="info-input" value="<%= user.mahasiswa.agama %>"></div>
      <div><label>Jenis Kelamin:</label><input type="text" class="info-input" value=" <%= user.mahasiswa.jeniskelamin %>">
      </div>
      <button type="submit" class="edit-button">Save</button>
    </form>
  </div>
</div>

</body>
</html>
